.arrayElementBar {
	width: 5px;
	/*background: linear-gradient(to bottom, gold 0%, gold 5%, black 5%, black 100%); */
	background-color: turquoise;
	display: inline-block;
	margin: 0 2px;
}

.arrayElementContainer {
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;	
}

.currentSortingAlgorithmButton {
	transition: 0.3s;
	font-size: 24px;
	color: white;
	height: 70px;
	width: 170px;
	background-color: #2196F3;
	border-radius: 5px;
	border-width: 2px;
	border-color: #2196F3;
	cursor: pointer;
	margin: 18px 5px;
}

.sortingAlgorithmButton {
	transition: 0.3s;
	font-size: 24px;
	color: #2196F3;
	height: 70px;
	width: 170px;
	background-color: white;
	border-radius: 5px;
	border-width: 2px;
	border-color: #2196F3;
	cursor: pointer;
	margin: 18px 5px;
}

.sortingAlgorithmButton:hover {
	color: white;
	background-color: #2196F3;
}

.sortingButtonContainer {
	margin-left: 35%;
}

#separator1 {
	width: 2px;
	height: 80%;
	top: 10%;
	margin-left: -2%;
	display: inline-block;
	position: absolute;
	background: #2196F3;
}

#separator2 {
	width: 2px;
	height: 80%;
	top: 10%;
	margin-left: 2%;
	display: inline-block;
	position: absolute;
	background: #2196F3;
}

.sortButton {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	margin-left: 4%;
	background-color: #4F4789;
	color: white;
	top: 30%;
	height: 40%;
	width: 6%;
	border-radius: 10px;
	border-width: 1px;
	border-color: #2196F3;
}

.sortingAlgorithmHeader {
	display: block;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	background: linear-gradient(90deg, rgba(126,146,223,1) 0%, rgba(92,118,208,1) 48%, rgba(71,99,204,1) 83%);

}